body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

img {
    width: auto;
    height: 100vh;
}

body {
    margin: 0;
}

.image {
    position: relative;
}

.logo {
    position: absolute;
    top: 190px;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logotext, .logoimage {
    display: inline;
}

.logotext {
    color: white;
    font-family: 'Freckle Face', cursive;
    font-size: 100px;
}

.logoimage {
    width: auto;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.source {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    color: white;
    gap: 5px;
}

.link {
    color: white;
    
}

a:link {
    color: white;
}

a:visited {
    color: lightgray;
}

.content {
    display: flex;
    flex-grow: 1;
    background-color: rgb(240, 240, 240);
    flex-direction: column;
    padding-top: 125px;
    padding-bottom: 150px;
}

.content form {
    background-color: white;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.btn {
    padding-left: 50px;
    padding-top: 30px;
}

button[type] {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    color: white;
    background:#4da8e1;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 0 9px #d2b66b;
}

button:active {
    box-shadow: 0 5px #a18c52b7;
    transform: translateY(4px);
}

.text {
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 300px;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
    height: 40px;
    padding-left: 12px;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
}

.row {
    display: flex;
    justify-content: left;
    gap: 75px;
}

.text, form > :first-child {
    font-size: 30px;
}

.text, form > :first-child, label {
    font-weight: 500;
}

label {
    font-size: 14px;
    letter-spacing: 2px;
}

form {
    box-shadow: 10px 5px 5px gray;
}

.input span {
    letter-spacing: 0px;
}

.nomatch {
    color: red;
    border: 1px solid red;
}

#passworderror {
    color: red;
    size: 10px;
    padding-left: 5px;
    height: 19px;
}